.Card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-evenly;
  position: initial;
}
.box {
  border: 2px solid black;
  max-width: 300px;
  border-radius: 0.625rem;
  margin: 0.625rem;
}
.title {
  text-align: left;
  padding: 0.5rem;
  margin: 0.5rem;
}

.description {
  text-align: left;
  display: inline-block;
  padding: 0.625rem;
  margin: 0.625rem;
  line-height: 1.325rem;
}
.cta {
  display: block;
  padding: 0.625rem;
  margin: 0.625rem;
  border: 2px solid green;
  border-radius: 0.325rem;
  float: right;
  background-color: green;
  color: white;
  font-size: 1rem;

}
.cta:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 2px solid black;
}
