.NavBar{
    position:fixed;
    width:100%;
    overflow:hidden;
    padding-right:1.625rem;
    top: 0;
    margin: 0px;
    background-color: #000000;
    text-decoration: none;
    list-style: none;
    display: block;
    float: left;
    height: 65px;
    z-index:4;
}
button.hamburger.hamburger--slider {
    background-color: #000000;
    border: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    float: right;
    display: block;
    margin: .625rem;
    padding: .625rem;
    padding-left: 1px;
    padding-right: 1px;
    margin-top: 1rem;
}
.hamburger-inner{
    height:2px;
    width:50px;
    float:right;
    background-color: white;
    padding:0px;
    margin:0px; 
}

.logo a{
    list-style:none;
    text-decoration: none;
    float: left;
    vertical-align: middle;
    margin-top:4%;
    color:white;
}


.list{
    padding-right:1.625rem;
    top: 0;
    margin: 0px;
    background-color: #000000;
    text-decoration: none;
    list-style: none;
    display: block;
    float: center;
    width: auto;
    height: 65px;
}

.list-item {
    display:none;
}


/* Desktop Menu */
@media only screen and (min-width: 768px) {
    button.hamburger.hamburger--slider {
        display:none;
    }
.NavBar{
    position:fixed;
    width:100%;
    overflow:hidden;
    top:0;
}
.hamburger{
    display:none;
}
.list {
    padding-right:1.625rem;
    top: 0;
    margin: 0px;
    background-color: #000000;
    text-decoration: none;
    list-style: none;
    display: block;
    float: center;
    width: auto;
    height: 65px;
}
.list-item {
  display: block;
  float: right;
  padding: 1rem;
}

.menu-link{
    text-decoration: none;
    list-style: none;
    color:white;
    vertical-align:middle; 
}
}

