.Events {
    border: 2px solid grey;
    width: 350px;
    border-radius: .5rem;
    left: 50%;
    display: inline-table;
    margin-bottom: 60px;
}
.triangle {
    color: white;
    fill: white;
    float: left;
    display: block;
}
.time {
    text-align: left;
    display: block;
    float: left;
    position: absolute;
    z-index: 3;
    margin-left: .5rem;
    padding-top: 1rem;
    font-weight: 400;
}
.event-date {
    text-align: left;
    display: block;
    float: left;
    position: absolute;
    z-index: 3;
    margin:.225rem;
    padding:.225rem;
}

span.triangle {
    margin-top: -13px;
    top: auto;
    font-size: 8.5rem;
    position: absolute;
    z-index: 2;
    padding: 0px;
    float: left;
}
.image{
    display:relative;
    z-index: 1; 
  
}